.Footer{
    background-color: #222;
    color: white;
    display: flex;
    font-size: 15px;
    position: fixed;
    padding: 20px 0px;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 4vh;
    animation-duration: 1s;
}

.Footer h1{
    font-size: 29px;
    margin-left: 10px;
    
}

.Footer h1:hover{
    transition: 0.2s;
    animation-name: fluctuating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes fluctuating{
    0%{
        font-size: 3vh;
    }
    50%{
        font-size: 3.1vw;
    }
    100%{
        font-size: 3vh;
    }
}