.list{
    display: flex;
    justify-content: space-evenly;
}

.container{
    width: 68%;
    margin: auto;
}

.container h2{
    color: white;
    font-size: 2rem;
}

h3{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

h4{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

