*{
    padding: 0;
    margin: 0;
    
}

.hPage{
    
    color: white;
}

.content{
    background-color: #555;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    align-items: center;
    padding: 2rem;
}



